 {{!-- {{>header}} --}}
 <div class="main-content">
        {{>header}}
<p>{{name}}</p>
        <p>Use this site to get your weather!</p>
    </div>
 <form>
         <input placeholder="location">
         <button>Search</button>
         <p id="msg-1"></p>
         <p id="msg-2"></p>
 </form>

 {{>footer}}
